
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

.pattern [aria-current] {
    background-color: #11113f !important;
}

#menu-button {
    background-color: #11113f !important;
}

.button {
    background-color: #11113f !important;
}

.label {
    background: #11113f !important;
}


#blog-date {

    font-size: 20px;font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    font-style: italic;
}